<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Scholar</th>
        <th scope="col">Faculty</th>
        <th scope="col">Title</th>
        <th scope="col">Journal</th>
        <th scope="col">Conference</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of entries; let i=index" >
        <th scope="row"> {{i+1}} </th>
        <td>  {{obj.scholar}}  </td>
        <td>  {{obj.faculity}}  </td>
        <td>  {{obj.papertitle}}  </td>
        <td>  {{obj.journal}}  </td>
        <td>  {{obj.conference}}  </td>
      </tr>
    </tbody>
  </table>