<div class="container-fluid px-5">

    

    <div class="row pt-2">
        <h4>Add the journal details</h4>
    </div>

    <div class="row">

        <form>
            <div class="form-group row p-2 d-flex">
              <label for="exampleInputEmail1" class="col-sm-2">Scholar</label>
              <!-- <input type="email" class="form-control col-sm-6" id="exampleInputEmail1"
               aria-describedby="emailHelp" placeholder="Enter email"> -->
               <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select Scholar</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>

               <div class="col-4">

               </div>
            </div>

            
            <div class="form-group row p-2 d-flex">
              <label for="exampleInputEmail1" class="col-sm-2">Faculty</label>
              <!-- <input type="email" class="form-control col-sm-6" id="exampleInputEmail1"
               aria-describedby="emailHelp" placeholder="Enter email"> -->
               <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select Faculty</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>

               <div class="col-4">

               </div>
            </div>

            <div class="form-group row p-2 d-flex">
              <label for="exampleInputEmail1" class="col-sm-2">Department</label>
              <!-- <input type="email" class="form-control col-sm-6" id="exampleInputEmail1"
               aria-describedby="emailHelp" placeholder="Enter email"> -->
               <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select Department</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>

               <div class="col-4">

               </div>
            </div>

            <div class="form-group row p-2 d-flex">
              <label for="exampleInputEmail1" class="col-sm-2">Journal</label>
              <!-- <input type="email" class="form-control col-sm-6" id="exampleInputEmail1"
               aria-describedby="emailHelp" placeholder="Enter email"> -->
               <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select Journal</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>

               <div class="col-4">

               </div>
            </div>

            <div class="form-group row p-2 d-flex">
              <label for="exampleInputEmail1" class="col-sm-2">Conferences</label>
              <!-- <input type="email" class="form-control col-sm-6" id="exampleInputEmail1"
               aria-describedby="emailHelp" placeholder="Enter email"> -->
               <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select Conferences</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>

               <div class="col-4">

               </div>
            </div>

            <div class="form-group row p-2 d-flex">
                <label for="exampleInputEmail1" class="col-sm-2">Add paper title</label>
                <input type="email" class="form-control col-sm-6" id="exampleInputEmail1"
                 aria-describedby="emailHelp" placeholder="Add paper title">
  
                 <div class="col-4">
                 </div>
              </div>

            <div class="form-group row p-2 d-flex">
                <label for="exampleInputEmail1" class="col-sm-2">Add pp</label>
                <input type="email" class="form-control col-sm-6" id="exampleInputEmail1"
                 aria-describedby="emailHelp" placeholder="Add pp">
  
                 <div class="col-4">
                 </div>
              </div>
            <div class="form-check">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>